article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.questions-background {
  background-image: url(../assets/Parchment.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.questions {
  max-width: 750px;
  margin: 0 auto;
  padding: 30px;
  padding: 120px 80px; }
  @media (max-width: 760px) {
    .questions {
      padding: 30px 50px;
      width: 90%; } }
  .questions form {
    width: 100%; }
  .questions h2 {
    font-family: 'Cabin', sans-serif;
    font-weight: normal; }
    @media (max-width: 760px) {
      .questions h2 {
        font-size: 20px; } }
  .questions label {
    font-family: 'Cabin', sans-serif;
    font-size: 20px; }
    @media (max-width: 760px) {
      .questions label {
        font-size: 16px; } }
  .questions .answerContainer {
    margin: 20px; }
    @media (max-width: 760px) {
      .questions .answerContainer {
        margin: 10px; } }
  .questions input {
    margin-right: 10px; }
  .questions h3 {
    font-size: 25px;
    font-weight: normal;
    font-family: "Cabin", sans-serif;
    text-align: center; }
  .questions .houseWinner, .questions .wandWinner, .questions .petWinner {
    font-family: "Cabin", sans-serif;
    font-size: 35px;
    margin: 0;
    text-transform: uppercase; }
    @media (max-width: 480px) {
      .questions .houseWinner, .questions .wandWinner, .questions .petWinner {
        font-size: 25px; } }
  .questions img {
    margin: 0 auto;
    display: block;
    border-radius: 30%; }
  .questions .answerButtons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.next-button {
  border: none;
  padding: 10px 20px;
  margin: 20px;
  background-color: #000;
  color: rgba(219, 146, 0, 0.83);
  transition: all 1s; }
  @media (max-width: 760px) {
    .next-button {
      margin-bottom: 20px; } }

.answer-image-container {
  width: 50%;
  margin: 0 auto; }
  @media (max-width: 480px) {
    .answer-image-container {
      width: 75%; } }
  .answer-image-container img {
    width: 100%; }

.twitter-share-button {
  padding: 9px 20px;
  background-color: #0084b4;
  color: #fff; }

a {
  text-decoration: none; }

.wrapper {
  max-width: 900px;
  margin: 0 auto; }

.backgroundWrapper {
  background-color: rgba(151, 2, 2, 0.93);
  padding: 30px; }

audio {
  display: none; }

header {
  text-align: center;
  background-color: black;
  padding: 10px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 480px) {
    header {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  header h1 {
    color: rgba(219, 146, 0, 0.83);
    font-family: "Great Vibes", sans-serif;
    font-size: 50px;
    margin: 0;
    width: 80%; }
    @media (max-width: 760px) {
      header h1 {
        font-size: 40px; } }
  header .logoContainer {
    width: 6%;
    margin-left: 20px; }
    @media (max-width: 480px) {
      header .logoContainer {
        display: none;
        width: 50px; } }
    header .logoContainer img {
      width: 100%; }

main {
  padding: 50px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  main section {
    width: 30%;
    margin: 15px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background-color: rgba(207, 197, 7, 0.69);
    border-radius: 10px;
    transition: all 1s; }
    main section:hover {
      box-shadow: 2px 2px 20px #000; }
    @media (max-width: 940px) {
      main section {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 90%; } }
    @media (max-width: 760px) {
      main section {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
  @media (max-width: 940px) {
    main {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (max-width: 760px) {
    main {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 70%; } }
  @media (max-width: 480px) {
    main {
      width: 90%; } }
  main p {
    padding: 20px;
    text-align: left;
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    line-height: 1.4em;
    margin: 0; }

.gameImage {
  width: 100%;
  padding: 10px; }
  @media (max-width: 940px) {
    .gameImage {
      width: 40%; } }
  @media (max-width: 760px) {
    .gameImage {
      width: 100%; } }
  .gameImage img {
    width: 100%;
    display: block;
    border-radius: 10px;
    border: 5px solid #333; }

@media (max-width: 940px) {
  .gameText {
    width: 60%; } }

@media (max-width: 760px) {
  .gameText {
    width: 100%; } }

footer {
  text-align: center;
  background-color: black;
  padding: 10px 0; }
  footer p {
    font-family: "Great Vibes", sans-serif;
    font-size: 20px;
    color: rgba(219, 146, 0, 0.83);
    margin: 0; }

.homeButton {
  font-size: 20px;
  font-family: "Cabin", sans-serif;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  background-color: #000;
  color: rgba(219, 146, 0, 0.83);
  transition: all 1s; }
  @media (max-width: 480px) {
    .homeButton {
      font-size: 12px; } }

.magicWriting {
  width: 85%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 10px;
  text-align: center;
  border: solid 4px black; }
  .magicWriting h2 {
    font-family: "Satisfy", sans-serif;
    font-size: 25px; }
  .magicWriting span {
    text-align: right;
    display: block;
    font-size: 16px;
    font-family: "Cabin", sans-serif; }
  @media (max-width: 480px) {
    .magicWriting {
      display: none; } }
